# Database Configurations
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=decisionhub_db
MYSQL_USER=decisionuser
MYSQL_PASSWORD=decisionpass

# Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Port Mappings
BACKEND_PORT=8080
FRONTEND_PORT=5173
MYSQL_PORT=3306
