.stats-section {
    width: 100%;

    padding: 10px 60px 30px;
    margin-top: -20px;

    background: linear-gradient(
        135deg,
        #f7f9ff,
        #eef4ff
    );

    box-sizing: border-box;
}

.stats-container {
    width: 100%;

    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.stat-card {
    background: rgba(255, 255, 255, 0.9);

    border: 1px solid #e2e8f0;

    border-radius: 16px;

    padding: 30px 20px;

    text-align: center;

    box-sizing: border-box;

    min-height: 150px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
}

.stat-card h2 {
    margin: 10px 0 5px;

    font-size: 32px;

    color: #3867e8;
}

.stat-card p {
    margin: 0;

    font-size: 16px;

    color: #666;
}

.stat-icon {
    font-size: 28px;
}


/* TABLET */

@media (max-width: 900px) {

    .stats-section {
        padding: 30px 25px 45px;
    }

    .stats-container {
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;
    }
}


/* MOBILE */

@media (max-width: 600px) {

    .stats-section {
        padding: 30px 20px 40px;
    }

    .stats-container {
        grid-template-columns: 1fr;

        gap: 15px;
    }

    .stat-card {
        width: 100%;

        min-height: 130px;
    }

    .stat-card h2 {
        font-size: 28px;
    }
}